body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("/ui-images/chess.jpg");
    background-position: 80% 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #5585b5;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}
a:first-child {
    padding-left: 15rem;
}

h1 {
    align-self: center;
    margin-top: 35vh;
    font-size: 3rem;
}

.wrap {
    align-self: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    text-align: center;
    font-size: 1.3rem;
    width: max-content;
    border: 3px solid #53a8b6;
}

th {
    padding: .5rem;
    background-color: #66bfbf;
}

td {
    padding: .5rem
}

tr:nth-child(even) {
    background-color: #eaf6f6;
}
tr:nth-child(odd) {
    background-color: #fcfefe;
}

tr:hover {
    background-color: #AFEEEE;
}

#buttonBox {
    align-self: flex-end;
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(118, 122, 145);
    font-size: 1.1rem;
}

button:hover, tbody tr:not(:first-child):hover {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px #407a7a;
}

#edit, #replace {
    background: #66bfbf;
}

#delete {
    background: #DC143C;
}

#cancel {
    background: #FFD700;
}

#addParticipant{
    width: fit-content;
    background: #409dfa;
    position: relative;
}

.info {
    position: absolute;
    right: 5rem;
    top: 10vh;
    width: fit-content;
    max-width: 15vw;
    padding: .5em;
    background-color: beige;
    border: 3px solid #53a8b6;
}